.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 32px;
}

.statContainer {
  background-color: var(--sidebar-bg);
  padding: 8px 12px;
  border-radius: 8px;
  width: 12vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  color: var(--text-color);
}

.container::after {
  content: "";
  flex: 1 1 12vw;
  visibility: hidden;
}

.statContainer .data {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  color: var(--text-color);
}

.statContainer .dataName {
  font-size: 18px;
  margin: 0;
  color: var(--text-color);
}
