.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: #121212;
  border-radius: 20px;
  outline: 1px solid var(--accent-color);
  width: 100%;
  margin: auto;
  color: #e0e0e0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.uploadBox {
  width: 100%;
  max-width: 420px;
  text-align: center;
  border: 3px dashed var(--border-color);
  padding: 2rem 1.5rem;
  border-radius: 16px;
  position: relative;
  background: var(--sidebar-bg);
  margin: 0 auto 2rem;
  cursor: pointer;
  transition: border 0.3s, background 0.3s;
}

.uploadBox:hover {
  border-color: var(--accent-color);
  background: var(--menu-hover);
}

.icon {
  font-size: 40px;
  opacity: 0.9;
  margin-bottom: 1rem;
  color: var(--icon-color);
}

h3 {
  font-size: 1.1rem;
  color: var(--text-color);
  margin: 0;
}

p {
  font-size: 0.85rem;
  color: #888;
  margin-top: 0.5rem;
}

input[type="file"] {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.preview {
  margin-top: 2rem;
  width: 100%;
  background-color: var(--preview-bg);
  color: var(--text-color);
  padding: 1rem;
  border-radius: 10px;
  font-size: 0.85rem;
  overflow: auto;
  white-space: pre-wrap;
}

.preview h4 {
  margin-bottom: 0.5rem;
  color: var(--accent-color);
}

.toggleButtons {
  margin-bottom: 1rem;
  text-align: center;
  button {
    background: transparent;
    border: 1.5px solid var(--accent-color);
    color: var(--accent-color);
    padding: 0.3rem 0.8rem;
    margin-right: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    &:hover {
      background-color: var(--accent-color);
      color: var(--bg-color);
    }
  }

  .active {
    background-color: var(--accent-color);
    color: var(--bg-color);
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  color: var(--text-color);
  margin-top: 1rem;
}

th,
td {
  border: 1px solid var(--table-border);
  padding: 8px 10px;
  text-align: left;
  font-family: monospace;
}

th {
  background-color: var(--th-bg);
  color: var(--text-color);
}

tr:nth-child(even) {
  background-color: var(--alt-row);
}

.invalidTaxonCell {
  background-color: #ff4c4c;
  color: white;
  font-weight: bold;
  border-radius: 4px;
}

.jsonTextarea {
  width: 100%;
  box-sizing: border-box;
  height: 300px;
  background: var(--sidebar-bg);
  color: var(--text-color);
  border: 1px solid var(--table-border);
  border-radius: 6px;
  padding: 10px;
  font-family: monospace;
  font-size: 14px;
  resize: vertical;
}
